@import url("https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
