@import url("https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    #4bceec8f 0%,
    #1bc9f0,
    50%,
    #52f95a 50%,
    #73f95242 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

nav {
  background-color: white;
  padding: 20px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 2px 5px 8px 2px rgba(0, 0, 0, 0.35);
  transition: width 0.6s linear;
}

nav.active {
  width: 350px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}
nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}
