@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --left: rgb(225, 25, 25);
  --right: yellow;
  --left-btn: #f6f637; /*#f7f739*/
  --right-btn: #e94920;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  color: white;
  position: absolute;
  left: 30%;
  top: 2%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin-top: 0;
}

.btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 30%;
  top: 15%;
  transform: translateX(-50%);
  text-decoration: none;
  color: white;
  border: white solid 0.2rem;
  font-size: 1rem;
  width: 12rem;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.btn.yellow:hover {
  background-color: var(--left-btn);
}

.btn.red:hover {
  background-color: var(--right-btn);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
}

.split {
  position: absolute;
  width: 50%;
  background-position: center;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background-image: url(img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 75%;
}

.split.left:hover::before {
  background-color: var(--left);
}

.split.right {
  right: 0;
  background-image: url(img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 75%;
}

.split.right:hover::before {
  background-color: var(--left);
}
.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all 1000ms ease-in-out;
}
.hover-left .left {
  width: 70%;
}
.hover-left .right {
  width: 30%;
}

.hover-right .right {
  width: 70%;
}
.hover-right .left {
  width: 30%;
}
/* when hover over .split.right,  .split.left::before change to different color and opacity */
