@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(11, 122, 226, 0.842);
  font-family: "Mulish", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h3 {
  color: white;
  margin: 10px 0 20px;
}

.container {
  width: 500px;
}

#textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
}

.tag {
  background-color: rgb(248, 142, 239);
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 14px;
  margin-right: 10px;
  display: inline-block;
}

.tag.light {
  background-color: rgb(255, 208, 0);
}
