/* General CSS  */

body {
  background-color: rgb(255, 186, 8);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* Index CSS */

header {
  margin: 20px 0px;
}
#nav-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 0;
}
#nav-bar li {
  list-style: none;
}
#nav-bar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#nav-bar i {
  font-size: 35px;
}

#welcome {
  height: 65vh;
  background-image: url(assets/royal.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

#welcome h1 {
  position: absolute;
  top: 2vh;
  margin-top: 0;
  background-color: rgba(167, 167, 167, 0.479);
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 40px 18px;
}
#about {
  margin: 10px;
}
#about h2 {
  margin-bottom: 0px;
}
/* Family CSS */

.headline h2 {
  margin: 30px 0 0 20px;
}
#family {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

#family img {
  height: 52vh;
  width: 30vw;
  max-width: 320px;
  padding: 1vw;
}

#family h4 {
  font-weight: bold;
  text-align: center;
}

/* Assets CSS */

#assets {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#assets table,
th,
td {
  text-align: left;
  border: 1px solid black;
  font-size: 20px;
}
#assets th {
  background-color: rgb(216, 156, 43);
}

/* Contact CSS */

#contact h2 {
  margin-left: 20px;
}

#contact form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 15px;
  box-shadow: -5px 5px 15px 1px;
  margin: 0 20px;
  height: 70vh;
}

.button {
  display: flex;
  justify-content: flex-end;
}

#btn {
  margin: 10px 0;
  padding: 4px 8px;
  box-shadow: 5px 5px 4px 1px;
  border: 0;
}
