@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 180, 195);
}
.content h1 {
  color: rgb(245, 243, 235);
  text-transform: uppercase;
}
.content {
  height: 150px;
  width: 400px;
  border-radius: 10px;
  background-color: rgb(113, 54, 148);
  margin-top: 10px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.content:nth-of-type(even) {
  transform: translateX(-400%);
}
.content.show {
  transform: translateX(0);
}
